Package: com.yourcompany.batteryreach
Name: batteryReach
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Joseph
Author: Joseph
Section: Tweaks
Version: 0.0.1-116+debug
Installed-Size: 148
